server:
  port: 8089

spring:
  application:
    name: audit-server

  profiles:
    active: test

  datasource:
    url: jdbc:postgresql://localhost:5432/audit_server_test
    username: postgres
    password: Welcome@1234
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false

  liquibase:
    enabled: true
    contexts: test
    change-log: classpath:db/changelog/db.changelog-master.yaml

  thymeleaf:
    cache: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: kaushiknandy04@gmail.com
    password: mzsp bvkx lfxn bobg
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
